@import "tailwindcss";

::-webkit-scrollbar {
  background: linear-gradient(
    135deg,
    rgba(255, 255, 255, 0.1),
    rgba(255, 255, 255, 0)
  );
  backdrop-filter: blur(20);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 0 0 20px 20px;
  /* border: 1px solid rgba(255, 255, 255, 0.18); */
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
  width: 6px;
}
.glass {
  background: linear-gradient(
    135deg,
    rgba(255, 255, 255, 0.1),
    rgba(255, 255, 255, 0)
  );
  backdrop-filter: blur(100000px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 0 0 20px 20px;
  /* border: 1px solid rgba(255, 255, 255, 0.18); */
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}
.bottom-gradient {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100px;
  background: linear-gradient(to top, #060606, transparent);
  pointer-events: none;
  transition: opacity 0.3s ease;
}
.top-gradient {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100px;
  background: linear-gradient(to bottom, #060606, transparent);
  pointer-events: none;
  transition: opacity 0.3s ease;
}
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #060606;
}

::-webkit-scrollbar-thumb {
  background: #222;
  border-radius: 4px;
}
